In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
price = pd.read_csv('price_car.csv')

In [3]:
price

,Unnamed: 0,광역시/도,시/군/구,차량가격,국고보조금,지방비보조금,보조금합계,예상구매가,차종,연도
0,0,서울,서울특별시,"5,595",800,200,"1,000","4,595",기아 EV6 (Kia EV6),2021
1,0,부산,부산광역시,"5,595",800,450,"1,250","4,345",기아 EV6 (Kia EV6),2021
2,0,대구,대구광역시,"5,595",800,450,"1,250","4,345",기아 EV6 (Kia EV6),2021
3,0,인천,인천광역시,"5,595",800,480,"1,280","4,315",기아 EV6 (Kia EV6),2021
4,0,광주,광주광역시,"5,595",800,500,"1,300","4,295",기아 EV6 (Kia EV6),2021
...,...,...,...,...,...,...,...,...,...,...
26610,0,경남,산청군,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023
26611,0,경남,함양군,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023
26612,0,경남,거창군,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023
26613,0,경남,합천군,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023
26614,0,공단,한국환경공단,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023

In [4]:
price.drop(['Unnamed: 0','시/군/구'],1,inplace=True)

In [5]:
price

,광역시/도,차량가격,국고보조금,지방비보조금,보조금합계,예상구매가,차종,연도
0,서울,"5,595",800,200,"1,000","4,595",기아 EV6 (Kia EV6),2021
1,부산,"5,595",800,450,"1,250","4,345",기아 EV6 (Kia EV6),2021
2,대구,"5,595",800,450,"1,250","4,345",기아 EV6 (Kia EV6),2021
3,인천,"5,595",800,480,"1,280","4,315",기아 EV6 (Kia EV6),2021
4,광주,"5,595",800,500,"1,300","4,295",기아 EV6 (Kia EV6),2021
...,...,...,...,...,...,...,...,...
26610,경남,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023
26611,경남,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023
26612,경남,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023
26613,경남,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023
26614,공단,"19,984","4,834",0,"4,834","15,150",현대 카운티 일렉트릭 (County Electric),2023

In [6]:
price = price[['차종','광역시/도','차량가격','국고보조금','지방비보조금','보조금합계','예상구매가','연도']]

In [7]:
price

,차종,광역시/도,차량가격,국고보조금,지방비보조금,보조금합계,예상구매가,연도
0,기아 EV6 (Kia EV6),서울,"5,595",800,200,"1,000","4,595",2021
1,기아 EV6 (Kia EV6),부산,"5,595",800,450,"1,250","4,345",2021
2,기아 EV6 (Kia EV6),대구,"5,595",800,450,"1,250","4,345",2021
3,기아 EV6 (Kia EV6),인천,"5,595",800,480,"1,280","4,315",2021
4,기아 EV6 (Kia EV6),광주,"5,595",800,500,"1,300","4,295",2021
...,...,...,...,...,...,...,...,...
26610,현대 카운티 일렉트릭 (County Electric),경남,"19,984","4,834",0,"4,834","15,150",2023
26611,현대 카운티 일렉트릭 (County Electric),경남,"19,984","4,834",0,"4,834","15,150",2023
26612,현대 카운티 일렉트릭 (County Electric),경남,"19,984","4,834",0,"4,834","15,150",2023
26613,현대 카운티 일렉트릭 (County Electric),경남,"19,984","4,834",0,"4,834","15,150",2023
26614,현대 카운티 일렉트릭 (County Electric),공단,"19,984","4,834",0,"4,834","15,150",2023

In [8]:
price.columns = ['car_name', 'location_id', 'price', 'subsidy_n', 'subsidy_c', 'subsidy_s', 'buy', 'year']

In [9]:
price

,car_name,location_id,price,subsidy_n,subsidy_c,subsidy_s,buy,year
0,기아 EV6 (Kia EV6),서울,"5,595",800,200,"1,000","4,595",2021
1,기아 EV6 (Kia EV6),부산,"5,595",800,450,"1,250","4,345",2021
2,기아 EV6 (Kia EV6),대구,"5,595",800,450,"1,250","4,345",2021
3,기아 EV6 (Kia EV6),인천,"5,595",800,480,"1,280","4,315",2021
4,기아 EV6 (Kia EV6),광주,"5,595",800,500,"1,300","4,295",2021
...,...,...,...,...,...,...,...,...
26610,현대 카운티 일렉트릭 (County Electric),경남,"19,984","4,834",0,"4,834","15,150",2023
26611,현대 카운티 일렉트릭 (County Electric),경남,"19,984","4,834",0,"4,834","15,150",2023
26612,현대 카운티 일렉트릭 (County Electric),경남,"19,984","4,834",0,"4,834","15,150",2023
26613,현대 카운티 일렉트릭 (County Electric),경남,"19,984","4,834",0,"4,834","15,150",2023
26614,현대 카운티 일렉트릭 (County Electric),공단,"19,984","4,834",0,"4,834","15,150",2023

In [10]:
for i in range(price.shape[0]):
    price_loc = price.loc[i,'location_id']
    if price_loc.find('경기') >= 0:
        price.loc[i,'location_id'] = 1
    elif price_loc.find('강원') >= 0:
        price.loc[i,'location_id'] = 2
    elif price_loc.find('경남') >= 0:
        price.loc[i,'location_id'] = 3
    elif price_loc.find('경북') >= 0:
        price.loc[i,'location_id'] = 4
    elif price_loc.find('전남') >= 0:
        price.loc[i,'location_id'] = 5
    elif price_loc.find('전북') >= 0:
        price.loc[i,'location_id'] = 6
    elif price_loc.find('충남') >= 0:
        price.loc[i,'location_id'] = 7
    elif price_loc.find('충북') >= 0:
        price.loc[i,'location_id'] = 8
    elif price_loc.find('제주') >= 0:
        price.loc[i,'location_id'] = 9
    elif price_loc.find('서울') >= 0:
        price.loc[i,'location_id'] = 10
    elif price_loc.find('인천') >= 0:
        price.loc[i,'location_id'] = 11
    elif price_loc.find('대전') >= 0:
        price.loc[i,'location_id'] = 12
    elif price_loc.find('세종') >= 0:
        price.loc[i,'location_id'] = 13
    elif price_loc.find('광주') >= 0:
        price.loc[i,'location_id'] = 14
    elif price_loc.find('대구') >= 0:
        price.loc[i,'location_id'] = 15
    elif price_loc.find('울산') >= 0:
        price.loc[i,'location_id'] = 16
    elif price_loc.find('부산') >= 0:
        price.loc[i,'location_id'] = 17
    else:
        price.loc[i,'location_id'] = 0

In [11]:
price

,car_name,location_id,price,subsidy_n,subsidy_c,subsidy_s,buy,year
0,기아 EV6 (Kia EV6),10,"5,595",800,200,"1,000","4,595",2021
1,기아 EV6 (Kia EV6),17,"5,595",800,450,"1,250","4,345",2021
2,기아 EV6 (Kia EV6),15,"5,595",800,450,"1,250","4,345",2021
3,기아 EV6 (Kia EV6),11,"5,595",800,480,"1,280","4,315",2021
4,기아 EV6 (Kia EV6),14,"5,595",800,500,"1,300","4,295",2021
...,...,...,...,...,...,...,...,...
26610,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26611,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26612,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26613,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26614,현대 카운티 일렉트릭 (County Electric),0,"19,984","4,834",0,"4,834","15,150",2023

In [12]:
for j in range(price.shape[0]):
    if price.loc[j,'location_id'] == 0:
        price = price.drop(j,0)

In [13]:
price

,car_name,location_id,price,subsidy_n,subsidy_c,subsidy_s,buy,year
0,기아 EV6 (Kia EV6),10,"5,595",800,200,"1,000","4,595",2021
1,기아 EV6 (Kia EV6),17,"5,595",800,450,"1,250","4,345",2021
2,기아 EV6 (Kia EV6),15,"5,595",800,450,"1,250","4,345",2021
3,기아 EV6 (Kia EV6),11,"5,595",800,480,"1,280","4,315",2021
4,기아 EV6 (Kia EV6),14,"5,595",800,500,"1,300","4,295",2021
...,...,...,...,...,...,...,...,...
26609,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26610,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26611,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26612,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26613,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023

In [14]:
price = price.set_index(np.arange(0,price.shape[0]))

In [15]:
price

,car_name,location_id,price,subsidy_n,subsidy_c,subsidy_s,buy,year
0,기아 EV6 (Kia EV6),10,"5,595",800,200,"1,000","4,595",2021
1,기아 EV6 (Kia EV6),17,"5,595",800,450,"1,250","4,345",2021
2,기아 EV6 (Kia EV6),15,"5,595",800,450,"1,250","4,345",2021
3,기아 EV6 (Kia EV6),11,"5,595",800,480,"1,280","4,315",2021
4,기아 EV6 (Kia EV6),14,"5,595",800,500,"1,300","4,295",2021
...,...,...,...,...,...,...,...,...
26551,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26552,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26553,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26554,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023
26555,현대 카운티 일렉트릭 (County Electric),3,"19,984","4,834",0,"4,834","15,150",2023

In [16]:
for i in range(price.shape[1]):
    for j in range(price.shape[0]):
        if str(price.iloc[j,i]).find(',') > 0:
            price.iloc[j,i] = price.iloc[j,i].replace(',', '')
        elif str(price.iloc[j,i])[0] == '확':
            price.iloc[j,i] = 0

In [17]:
price

,car_name,location_id,price,subsidy_n,subsidy_c,subsidy_s,buy,year
0,기아 EV6 (Kia EV6),10,5595,800,200,1000,4595,2021
1,기아 EV6 (Kia EV6),17,5595,800,450,1250,4345,2021
2,기아 EV6 (Kia EV6),15,5595,800,450,1250,4345,2021
3,기아 EV6 (Kia EV6),11,5595,800,480,1280,4315,2021
4,기아 EV6 (Kia EV6),14,5595,800,500,1300,4295,2021
...,...,...,...,...,...,...,...,...
26551,현대 카운티 일렉트릭 (County Electric),3,19984,4834,0,4834,15150,2023
26552,현대 카운티 일렉트릭 (County Electric),3,19984,4834,0,4834,15150,2023
26553,현대 카운티 일렉트릭 (County Electric),3,19984,4834,0,4834,15150,2023
26554,현대 카운티 일렉트릭 (County Electric),3,19984,4834,0,4834,15150,2023
26555,현대 카운티 일렉트릭 (County Electric),3,19984,4834,0,4834,15150,2023

In [18]:
price.dtypes

car_name       object
location_id    object
price          object
subsidy_n      object
subsidy_c      object
subsidy_s      object
buy            object
year            int64
dtype: object

In [19]:
pd.isnull(price.subsidy_n).sum()

644

In [20]:
for k in range(price.shape[1]):
    for m in range(price.shape[0]):
        if pd.isnull(price.iloc[m,k]) == True:
            price.iloc[m,k] = 0

In [21]:
pd.isnull(price.subsidy_n).sum()

0

In [22]:
price.iloc[:,1:7] = price.iloc[:,1:7].astype('float')

In [23]:
price.iloc[:,1:7] = price.iloc[:,1:7].astype('int')

In [24]:
price.dtypes

car_name       object
location_id     int32
price           int32
subsidy_n       int32
subsidy_c       int32
subsidy_s       int32
buy             int32
year            int64
dtype: object

In [25]:
price_gr = price.groupby(['car_name','year','location_id']).mean().astype('int')

In [26]:
price_gr

                                                    price  subsidy_n  \
car_name                          year location_id
EVKMC 마사다 2밴 (EVKMC Masada 2 van) 2023 1             3780       1124
                                       2             3780       1124
                                       3             3780       1124
                                       4             3780       1124
                                       5             3780       1124
...                                                   ...        ...
현대 포터2 일렉트릭 (Porter II Electric)  2023 13            4375       1200
                                       14            4375       1200
                                       15            4375       1200
                                       16            4375       1200
                                       17            4375       1200

                                                    subsidy_c  subsidy_s   buy
car_name                          year location_id
EVKMC 마사다 2밴 (EVKMC Masada 2 van) 2023 1                  618       1742  2037
                                       2                  700       1824  1956
                                       3                  607       1731  2048
                                       4                  621       1745  2034
                                       5                  710       1834  1945
...                                                       ...        ...   ...
현대 포터2 일렉트릭 (Porter II Electric)  2023 13                 400       1600  2775
                                       14                 350       1550  2825
                                       15                 400       1600  2775
                                       16                 360       1560  2815
                                       17                 400       1600  2775

[2787 rows x 5 columns]

In [27]:
price_gr.to_csv('subsidy.csv')